header {
    background-color: #333;
    text-align: center;
    color: white;
    padding: 10px;

}

body {
    font-family: sans-serif;
    margin: 0;
    
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 15px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    height: 100vh;
    text-align: center;
    background-color: #333;
    padding: 10px;
    border: black solid;
}

#cadastro {
    background-color: #ddd;
}

#banner {
    background-color: #ffffff;
    color: #000000;
}

#serviços {
    background-color: #ddd;

}

#job {
    background-color: #ddd;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.div1 {
    img {
        width: 250px
    }

    ;
}

.div2 {

    img {
        width: 250px;
        border-radius: 100px
    }

    ;
}

#produtos {
    background-color: #ddd;

}

#raçao {
    background-color: #ddd;
}

.raçoes {
    display: inline-block;
    flex-wrap: wrap;
    width: 150px;
    margin: 50px;

}

button{ 
    background-color: black;
    color: chartreuse;
    border-radius: 10px;
    width: 150px; height: 30px;
}

.raçoes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#brinquedo {
    background-color: #ddd;
}

.brinquedos {
    display: inline-block;
    flex-wrap: wrap;
    width: 150px;
    margin: 50px;

}

.brinquedos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#acessorio {
    background-color: #ddd;
}

.trabalho {
    display: inline-block;
    flex-wrap: wrap;
    width: 250px;
    margin: 20px;
}

.trabalho img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}


.item {
    display: inline-block;
    flex-wrap: wrap;
    width: 250px;
    margin: 20px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.cadastro{
    text-align: center;
    display: block;
}
   
label{
    display: block;
}
.subheader{
    border-top: 10px;
border-bottom: 10px;

}
.section1{
    border-top: 10px solid black;

}
.divheader label{
display: inline-flex;
}
#plano{
    color: #000000;
 }   